.byebug_history
.DS_Store
.env
.idea
.powenv
.rspec
.rvmrc
.vscode

*.bowerrc
*.ntvs*
*.njsproj
*.orig
*.rbc
*.sln
*.suo

/.bundle
/vendor/bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/dist/
/coverage/
/spec/tmp
/tmp
/log
/public/packs
/public/packs-test
/public/system

bower.json
node_modules/
npm-debug.log*
rerun.txt
yarn-error.log*
.yarn-integrity

capybara-*.html
config/initializers/secret_token.rb
config/master.key

pickle-email-*.html

/vendor/assets/bower_components

/storage/*
!/storage/.keep